__pycache__/
*.pyc
.idea/
.pytest_cache/
.mypy_cache/

configurations/default.json
configurations/temp.json

checkpoints
/results/
/results/*
results
/results/data/2020-05-29_12-00-33/Configuration.json

.dmypy.json
.lock
dask-worker-space/
/MUJOCO_LOG.TXT

*.latex
*.png
/configurations/exp_design_space.json
