pytest
scoop
pybullet
gym[atari]
# gym[box2d]
deap
matplotlib
pytest-mypy
mypy
numpy
nptyping
pytest-mock
git+git://github.com/numpy/numpy-stubs.git#egg=numpy-stubs
attrs
dask[distributed]
torch
pytest-parallel
bokeh # for dash-dashboard
pygame
networkx

typed-argument-parser # adds code completyion to argparse in pycharm
tikzplotlib

# optional, if needed install manually
# gym[mujoco]