pytest
scoop
pybullet
gym[atari]
# gym[box2d]
deap
matplotlib
pytest-mypy
mypy
numpy
nptyping
pytest-mock
git+git://github.com/numpy/numpy-stubs.git#egg=numpy-stubs

# torch

# optional, if needed install manually
# gym[mujoco]