pytest
scoop
pybullet
gym[atari]
gym[box2d]
box2d-py
# gym[box2d]
deap
matplotlib
pytest-mypy
mypy
numpy
nptyping
pytest-mock
git+git://github.com/numpy/numpy-stubs.git#egg=numpy-stubs
attrs
dask[distributed]
torch
pytest-parallel
bokeh==2.0 # for dash-dashboard.
# Note: dask==2.23.0 requires bokeh 2.0. After upgrading to dask 2.24 we can stop pinning bokeh
pygame
networkx
procgen

typed-argument-parser # adds code completyion to argparse in pycharm
tikzplotlib

# optional, if needed install manually
# gym[mujoco]